<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="dbConnerction" connectionString="Server=.;Database=GitDB;Persist Security Info=True;User ID=sa;Password=root"
      providerName="SQLClient" />
    <add name="GitManagerTest.Properties.Settings.GitDBConnectionString"
      connectionString="Server=.;Database=GitDB;Persist Security Info=True;User ID=sa;Password=root"
      providerName="System.Data.SqlClient" />
  
  </connectionStrings>
</configuration>
<!--Data Source=DESKTOP-DVDRU4D;Initial Catalog=GitDB;User ID=sa-->